<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>222712526940-ub5kjagpsokboqbugpmb3uo1o2vj3mn3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.222712526940-ub5kjagpsokboqbugpmb3uo1o2vj3mn3</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>222712526940-0dfb5a6pk7p0g6m9vi7brc2jkbhkk34m.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBd_JDIut9XUTnmRJ7gWoI-Jr4dG_Gv3Ec</string>
	<key>GCM_SENDER_ID</key>
	<string>222712526940</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>br.com.erickmaeda.news</string>
	<key>PROJECT_ID</key>
	<string>news-dev-a4d08</string>
	<key>STORAGE_BUCKET</key>
	<string>news-dev-a4d08.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:222712526940:ios:6096a91a6287b15fa50e99</string>
	<key>DATABASE_URL</key>
	<string>https://news-dev-a4d08.firebaseio.com</string>
</dict>
</plist>